 <% include header %>
		<div class="jumbotron">
		  <h1 class="display-4">Add a car</h1>
		  <p class="lead">You can add your car on blockchain</p>
		  <hr class="my-4">
		  
		  <p>
		  	<div class="form-group">
			    <label for="name">Car vin : </label>
			    <input type="text" class="form-control" id="name" name="name" placeholder="Your Service ltd">
			    <span class="error"></span>
		  	</div>
		  </p>
		  <p class="lead">
		    <input type="button" class="btn btn-primary btn-lg" id="addService" value="Add a car!">
		  </p>
		</div>
		

		<div class="row" id="carRow">
			<!-- here will be added all available services -->
		</div>
	</div>
 <% include footer %>