 <% include header %>
		<div class="jumbotron">
		  <h1 class="display-4">Add a car</h1>
		  <p class="lead">You can add your car on blockchain</p>
		  <hr class="my-4">
		  
		  <p>
		  	<div class="form-group">
			    <label for="name">Car vin : </label>
			    <input type="text" class="form-control" id="name" name="name" placeholder="Your Service ltd">
			    <span class="success"></span>
			    <span class="error"></span>
		  	</div>
		  </p>
		  <p class="lead">
		    <input type="button" class="btn btn-primary btn-lg" id="addAcar" value="Add a car!">
		  </p>
		</div>
		

		<div class="row" id="carRow">
			<!-- here will be added all available services -->
		</div>
	</div>
	<script>

	let carContractAddress = '0xa32c2fb0dd93d8b809c311c7fad2405b0ccb50e5';
		let carContractAbi = [
	{
		"constant": true,
		"inputs": [
			{
				"name": "_vin",
				"type": "string"
			}
		],
		"name": "getRepairsCount",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_vin",
				"type": "string"
			},
			{
				"name": "index",
				"type": "uint256"
			}
		],
		"name": "getRepair",
		"outputs": [
			{
				"name": "",
				"type": "address"
			},
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getMyCarsCount",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "index",
				"type": "uint256"
			}
		],
		"name": "getMyCar",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_vin",
				"type": "string"
			}
		],
		"name": "getCarByVin",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_vin",
				"type": "string"
			}
		],
		"name": "addCar",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_vin",
				"type": "string"
			},
			{
				"name": "_repair",
				"type": "string"
			}
		],
		"name": "addRepair",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	}
	];

	web3.eth.defaultAccount = web3.eth.accounts[0];

	let carContract = web3.eth.contract(carContractAbi).at(carContractAddress)

	function addACar(name){
		$('.success').val('');

		carContract.addCar(name, function(err, result) {
			if(!err) { 
				$('.success').append("Success: Your car will be in the blockchain soon, you can check your transaction <a target=\"blank\" href='https://ropsten.etherscan.io/tx/" + result + "'>here</a>");
			} else {
				console.log(err);
			}
		});
	}

	function getCars(){
		carContract.getMyCarsCount(function(err, data){ 
			if(!err) {
				let carsCount = data.toNumber();
				
				for (var i = 0; i < carsCount; i++) {

					carContract.getMyCar(i, function(err, result){
						console.log(result);
						let html = '<div class="col-sm-6 col-md-4 col-lg-3">';
	    				html += '<div class="panel panel-default">';
	    				html += '<div class="panel-heading">';
	    				html += '<h3 class="panel-title">' + result + '</h3>';
	    				html += '</div>'

	    				html += '<div class="panel-body">';
	    				html += '<img class="img-rounded img-center" style="width: 100%;" src="http://www.volvo.com/content/dam/volvo/volvo-gateway/simple-items/Cars-XC90-780x444.jpg/_jcr_content/renditions/xCars-XC90-780x444-itemdisplay.jpg.pagespeed.ic._lY3C88DwF.jpg">';
	    				html += '<br/><br/>';
	    				html += '<strong>Change Ownership</strong>: <br/>';
	    				html += '<strong>Address</strong>: <input type="text" class="form-control"><br/>';
	    				html += '<button class="btn btn-default" type="button" data-id="' + '' + '">Change</button>';
	    				html += '</div>';
	    				html += '</div>';
	    				html += '</div>';

	    				$('#carRow').append(html);
					});
				}
			} else {
				console.log(err);
			}
		});
	}

	$("#addAcar").on("click", function(){
		$(".error").text('');

		let carName = $("#name").val();

		if(!carName){
    		$(".error").text('Please write valid car vin');
    		return;
    	} 

    	if(carName.length !== 17){
    		$(".error").text('Service name must be 17 characters');
    		return;
    	}

    	addACar(carName);

	});
	$(document).ready(function() {
		getCars();
	});
	</script>
 <% include footer %>