<!DOCTYPE html>
<html>
<head>
	<title>Car Story</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" href="css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="scripts/require-stub/index.js"></script>
  <script src="scripts/web3/dist/web3.min.js" type="text/javascript"></script>
  <script type="text/javascript">
		if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            //Ropsten
            web3 = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/MJLOIyl1FTfoFAAMvsyW"));
            // TestRpc
           // web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }
  </script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Car Story Log</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/cars">Cars</a></li>
		      <li><a href="/services">Services</a></li>
		    </ul>
		  </div>
		</nav>

		