 <% include header %>
		<div class="jumbotron">
		  <h1 class="display-4">Every Car has a Story!</h1>
		  <p class="lead">Check the car history with your vin code</p>
		  <hr class="my-4">
		  <p>
		  	<div class="form-group">
			    <label for="vehicleVin">Vin Code : </label>
			    <input type="text" class="form-control" id="vehicleVin" placeholder="Vin code">
			    <small id="emailHelp" class="form-text text-muted oncopy">Example of vin code : 1HGCG1653YA038847</small>
			    <span class="error"></span>
		  	</div>
		  </p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" id="checkVin" role="button">Check car!</a>
		  </p>
		</div>
	</div>
	<script src="/js/home.js">
		
	</script>
 <% include footer %>