 <% include header %>
		<div class="jumbotron">
		  <h1 class="display-4">Add a car service</h1>
		  <p class="lead">If you are owner of car service you can participate in out system when you deposit 1 ether</p>
		  <hr class="my-4">
		  
		  <p>
		  	<div class="form-group">
			    <label for="name">Car service name : </label>
			    <input type="text" class="form-control" id="name" name="name" placeholder="Your Service ltd">
			    <span class="error"></span>
		  	</div>
		  </p>
		  <p class="lead">
		    <input type="button" class="btn btn-primary btn-lg" id="addService" value="Add a service!">
		  </p>
		</div>
		

		<div class="row" id="serviceRow">
			<!-- here will be added all available services -->
		</div>
	</div>
	<script type="text/javascript">

		let contractAddress = '0x3dac788ebe386b2ad2c238bb8715d77c5fc5cf91';
		let contractAbi = [
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "servicesArr",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"name": "services",
		"outputs": [
			{
				"name": "owner",
				"type": "address"
			},
			{
				"name": "name",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getServices",
		"outputs": [
			{
				"name": "",
				"type": "address[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "name",
				"type": "string"
			}
		],
		"name": "addService",
		"outputs": [],
		"payable": true,
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [],
		"name": "removeService",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getServicesLength",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"name": "statusCode",
				"type": "uint256"
			}
		],
		"name": "Status",
		"type": "event"
	}
];
	web3.eth.defaultAccount = web3.eth.accounts[0]

    let contract = web3.eth.contract(contractAbi).at(contractAddress)
   	
   	function getServicesCount(){
    	let services = contract.getServicesLength(function(err, result){
    		console.log(result.toNumber());
    		return result.toNumber();
    	});
    }

    function getServices(){
    	contract.getServices(function(err,result){
    		if(!err){
    			$("#serviceRow").text(''); //remove previous result

    			for(let i = 0; i < result.length; i++) {
	    			contract.services(result[i], function(err,result){
	    				let address = result[0];
	    				let name = result[1];

	    				let html = '<div class="col-sm-6 col-md-4 col-lg-3">';
	    				html += '<div class="panel panel-default">';
	    				html += '<div class="panel-heading">';
	    				html += '<h3 class="panel-title">' + name + '</h3>';
	    				html += '</div>'

	    				html += '<div class="panel-body">';
	    				html += '<img class="img-rounded img-center" style="width: 100%;" src="http://alamedaautocarectr.com/images/services.png">';
	    				html += '<br/><br/>';
	    				html += '<strong>Address</strong>: <span class="address">' + address + '</span><br/>';
	    				html += '<button class="btn btn-default" type="button" data-id="' + address + '">Add to your car services</button>';
	    				html += '</div>';
	    				html += '</div>';
	    				html += '</div>';

	    				console.log(html);
	    				$('#serviceRow').append(html);
	    			});
	    		}
    		}
    	});
    }

    function addService(name) {
    	contract.addService(name, { from : web3.eth.accounts[0], value :10000000000000000 },
    			function(err, data){
    		//if(!err){ location.reload(); }
    	});
    }
    $("#addService").on("click", function(){
    	$(".error").text('');
    	let service_name = $("#name").val();

    	if(!service_name){
    		$(".error").text('Please write valid service name');
    		return;
    	} 

    	if(service_name.length < 3){
    		$(".error").text('Service name must be over 3 characters');
    		return;
    	}

    	addService(service_name);
    });
    
    $(document).on("load", function(){
    	getServices();
    });
	</script>
 <% include footer %>