 <% include header %>
		<div class="jumbotron">
		  <h1 class="display-4">Add a vehicle service</h1>
		  <p class="lead">If you are an owner of vehicle service you can participate in our system when you deposit 1 ether</p>
		  <hr class="my-4">
		  
		  <p>
		  	<div class="form-group">
			    <label for="name">Vehicle service name : </label>
			    <input type="text" class="form-control" id="name" name="name" placeholder="Your Service ltd">
			    <span class="error"></span>
		  	</div>

		  	<div class="form-group">
			    <label>Vehicle service image : </label>
			    <input type="file" class="form-control" id="serviceImage">
			    <input type="hidden" id="ipfsImage">
			    <span class="errorImage"></span>
		  	</div>

		  </p>
		  <p class="lead">
		    <input type="button" class="btn btn-primary btn-lg" id="addService" value="Submit">
		  </p>
		</div>
		

		<div class="row" id="serviceRow">
			<!-- here will be added all available services -->
		</div>
	</div>
	<script type="text/javascript" src="/js/services.js"></script>
 <% include footer %>